[Unit]
Description=Running users xsession
AllowIsolate=yes

[Service]
Type=oneshot
RemainAfterExit=no
User=root
Group=root
ExecStart=/sbin/rungetty tty7 -u root -g root -- /bin/su tshm -l -c "startx"

