apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system

resources:
  - https://github.com/fluxcd/flux2/manifests/install?ref=v2.7.4
  - gitrepository.yaml
  # - appkustomization.yaml

generatorOptions:
  disableNameSuffixHash: true

# secretGenerator:
#   - envs:
#       - .gitsecret.env
#     name: flux-system
