apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: authentik
spec:
  interval: 10m
  chart:
    spec:
      chart: authentik
      version: '>=2023.10.0'
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: authentik
  values:
    authentik:
      enabled: true
      existingSecret:
        secretName: "authentik-secrets"
      error_reporting:
        enabled: true

    server:
      ingress:
        # Specify kubernetes ingress controller class name
        ingressClassName: traefik
        enabled: true
        hosts:
          - authentik.domain.tld

    postgresql:
      enabled: true
      auth:
        password: "changeme123"

    redis:
      enabled: true
      auth:
        password: "changeme123"
