apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system

resources:
  - ../../initialSetup/gitops
  - appkustomization.yaml

generatorOptions:
  disableNameSuffixHash: true

patches:
  - path: gitrepository.yaml
