apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  variant: prod

resources:
  - ../base
  - ../base/n8n

generatorOptions:
  disableNameSuffixHash: true
#
# configMapGenerator:
#   - name: env
#     namespace: apps
#     envs:
#       - .app.env
#
# images:
#   - name: app
#     newName: ghcr.io/tshm/app
#     newTag: latest
#
# patchesStrategicMerge:
#   - replicas-patch.yaml
